.product-nav {
  box-shadow: 2px 2px rgba(165, 79, 165, 0.535);
  position: fixed;
  bottom: 20px;
  width: 80%;
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
}
.product-nav .left-part span {
  display: inline-block;
  width: 70%;
  
}
.product-nav .left-part img {
  width: 30%;
}
/* right-part */
.product-nav .right-part {
  width: 150%;
  display: flex;
  justify-content: space-between !important;
  position: relative;
  top: 30px;
}
.product-nav .right-part .quantity button {
  border: 1px solid blueviolet;
  margin: 0 10px;
  padding: 0 10px;
  color: blueviolet;
  font-size: 18px;
}
.product-nav .right-part .quantity .number {
  border: 2px solid rgba(177, 173, 173, 0.617);
  margin: 0 10px;
  padding: 10px;
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.72);
}
.product-nav .right-part .AddToCart {
  background-color: rgba(137, 43, 226, 0.545);
  color: white;
  width: 40%;
  height: fit-content;
  text-transform: uppercase;
}
/* /// */
@media (min-width: 100px) and (max-width: 1000px) {
  .product-nav .right-part {
    width: 100% !important;
    margin: auto;
    top: unset;
    text-align: center;
  }
  .product-nav .right-part .quantity {
    width: 80%;
    margin-right: 20px;
    position: relative;
    top: 10px;
  }
  .product-nav .right-part .quantity button {
    width: fit-content;
    margin: 0px 2px !important;
  }
}
